TRAVEL_RECORD_ADMIN_TOKEN=
TRAVEL_RECORD_GITHUB_TOKEN=

TRAVEL_TRACKER_REPO=MarkXuJQ/Travel-tracker
TRAVEL_TRACKER_BRANCH=main
TRAVEL_TRACKER_RECORD_PATH=src/data/personalJourneyLibrary.json

MARK_BLOG_REPO=MarkXuJQ/Mark-blog
MARK_BLOG_BRANCH=main
MARK_BLOG_RECORD_PATH=content/travel/records/mark.json

TRAVEL_RECORD_COMMITTER_NAME=Mark Xu
TRAVEL_RECORD_COMMITTER_EMAIL=
